<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1 {
      color: red;
    }
  </style>
</head>

<body>
  <h1>设置颜色</h1>
  <div class="color-buttons">
    <button type="button" data-color="red">红色</button>
    <button type="button" data-color="yellow">黄色</button>
    <button type="button" data-color="green">绿色</button>
  </div>
</body>

<script src="hello.js"></script>
</script>

</html>