/* 公共样式 */

html,
body {
  position: relative;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.self-start {
  align-items: self-start;
}

.self-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}